October 2020
This notebook is developed by OPA Towobola to explore and organize data and analysis on world trends. The main spheres of inqiry are in energy (production, consumption), health (longevity and disease rates) and development (urbanization and GDP). The initial intent is to link these, so as to determine linkages. 
One question that could be answered is whether urbanization trends are promoting better or worse health. 
A similar question that could be answered is whether promiximity to energy sources (power lines) is linked to health trends for any demograhic group in particular.
Note: IT is not intended that the TYPE 1 error rate would be checked against a p-value threshold of 0.05 for health indicators. That is because a family would want the threshold to be much higher, when it pertains to their health or the health of a family member.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

The dataframe cap describes the National Material capabilities for 215 countries. It was retrieved from:  
https://data.world/cow/national-material-capabilities

Singer, J. David, Stuart Bremer, and John Stuckey. (1972). "Capability Distribution, Uncertainty, and Major Power War, 1820-1965." in Bruce Russett (ed) Peace, War, and Numbers, Beverly Hills: Sage, 19-48.

In [3]:
cap=pd.read_csv('/home/analyst/Documents/DataScienceImmersive/GitAndJupyter/Trends_Energy_Health/cow-national-material-capabilities/nmc-v4-data.csv')

Values for total population, urban population, iron and steel production, energy consumption, military personnel, and military expenditure for each state-year were originally collected to construct the composite index of national capabilities. These components are offered here but the user of these data should be warned that the quality and quantity of the data vary greatly from state to state and from year to year. In particular, each of the six indicators has its own idiosyncracies that limit cross-time comparability. Hence, those who use the raw data in time-series analyses should do so with caution. Users of the data are strongly urged to read the NMC codebook.

In [4]:
cap.head()

,stateabb,ccode,year,irst,milex,milper,pec,tpop,upop,cinc,version
0,USA,2,1816,80,3823,17,254.0,8659.0,101.0,0.039698,4
1,USA,2,1817,80,2466,15,277.0,8899.0,106.0,0.035817,4
2,USA,2,1818,90,1910,14,302.0,9139.0,112.0,0.036126,4
3,USA,2,1819,90,2301,13,293.0,9379.0,118.0,0.037133,4
4,USA,2,1820,110,1556,15,303.0,9618.0,124.0,0.037087,4

In [6]:
cap.info

<bound method DataFrame.info of       stateabb  ccode  year  irst  milex  milper        pec    tpop   upop  \
0          USA      2  1816    80   3823      17  254.00000  8659.0  101.0
1          USA      2  1817    80   2466      15  277.00000  8899.0  106.0
2          USA      2  1818    90   1910      14  302.00000  9139.0  112.0
3          USA      2  1819    90   2301      13  293.00000  9379.0  118.0
4          USA      2  1820   110   1556      15  303.00000  9618.0  124.0
...        ...    ...   ...   ...    ...     ...        ...     ...    ...
14194      WSM    990  2003     0      0       0   44.54492   180.0    0.0
14195      WSM    990  2004     0      0       0   42.77610   182.0    0.0
14196      WSM    990  2005     0      0       0   43.50082   183.0    0.0
14197      WSM    990  2006     0      0       0   44.62415   185.0    0.0
14198      WSM    990  2007     0      0       0   44.93124   187.0    0.0

           cinc  version
0      0.039698        4
1      0.035817        4
2      0.036126        4
3      0.037133        4
4      0.037087        4
...         ...      ...
14194  0.000005        4
14195  0.000005        4
14196  0.000005        4
14197  0.000005        4
14198  0.000005        4

[14199 rows x 11 columns]>

In [7]:
cap.describe

<bound method NDFrame.describe of       stateabb  ccode  year  irst  milex  milper        pec    tpop   upop  \
0          USA      2  1816    80   3823      17  254.00000  8659.0  101.0
1          USA      2  1817    80   2466      15  277.00000  8899.0  106.0
2          USA      2  1818    90   1910      14  302.00000  9139.0  112.0
3          USA      2  1819    90   2301      13  293.00000  9379.0  118.0
4          USA      2  1820   110   1556      15  303.00000  9618.0  124.0
...        ...    ...   ...   ...    ...     ...        ...     ...    ...
14194      WSM    990  2003     0      0       0   44.54492   180.0    0.0
14195      WSM    990  2004     0      0       0   42.77610   182.0    0.0
14196      WSM    990  2005     0      0       0   43.50082   183.0    0.0
14197      WSM    990  2006     0      0       0   44.62415   185.0    0.0
14198      WSM    990  2007     0      0       0   44.93124   187.0    0.0

           cinc  version
0      0.039698        4
1      0.035817        4
2      0.036126        4
3      0.037133        4
4      0.037087        4
...         ...      ...
14194  0.000005        4
14195  0.000005        4
14196  0.000005        4
14197  0.000005        4
14198  0.000005        4

[14199 rows x 11 columns]>

In [8]:
cap.groupby(['stateabb']).mean()

,ccode,year,irst,milex,milper,pec,tpop,upop,cinc,version
stateabb,,,,,,,,,,
AAB,58.0,1994.000000,0.000000,2.214852e+03,0.000000,67.699411,69.444444,0.000000,0.000003,4.0
AFG,700.0,1963.000000,-0.101124,5.505876e+04,73.471910,668.059311,12624.500000,1191.011364,-0.099306,4.0
ALB,339.0,1961.344444,40.433333,6.809377e+04,34.288889,1781.694089,1935.111111,141.211111,0.000489,4.0
ALG,615.0,1984.500000,591.956522,1.185658e+06,109.391304,138000.056739,21924.586957,5445.804348,0.003767,4.0
AND,232.0,2000.000000,0.000000,0.000000e+00,-0.600000,58.124211,72.266667,0.000000,0.000002,4.0
...,...,...,...,...,...,...,...,...,...,...
YPR,680.0,1978.500000,0.000000,9.903579e+04,23.791667,4022.740917,1866.000000,274.375000,0.000354,4.0
YUG,345.0,1942.500000,883.171875,6.208654e+05,150.367188,19631.417031,11908.179688,1278.195312,0.003986,4.0
ZAM,551.0,1985.500000,0.000000,9.700193e+04,15.659091,7729.623477,6940.590909,1883.818182,0.000698,4.0
ZAN,511.0,1963.500000,0.000000,0.000000e+00,0.000000,1.000000,332.000000,0.000000,0.000017,4.0
ZIM,552.0,1986.000000,374.767442,2.390667e+05,33.558140,9362.889558,8747.511628,1517.139535,0.000960,4.0

In [ ]:
The dataframe energy_intensity describes the energy_intensity for XX countries. It was retrieved from:
https://www.eia.gov/international/data/world/other-statistics/energy-intensity-by-gdp-and-population?pd=47&p=000000000000000000000000000000000000000000000000000000002g&u=0&f=A&v=mapbubble&a=-&i=none&vo=value&&t=C&g=00000000000000000000000000000000000000000000000001&l=249-ruvvvvvfvtvnvv1vrvvvvfvvvvvvfvvvou20evvvvvvvvvvnvvvs0008&s=315532800000&e=1483228800000

Singer, J. David, Stuart Bremer, and John Stuckey. (1972). "Capability Distribution, Uncertainty, and Major Power War, 1820-1965." in Bruce Russett (ed) Peace, War, and Numbers, Beverly Hills: Sage, 19-48.

In [5]:
energy_intensity=pd.read_csv('/home/analyst/Documents/DataScienceImmersive/GitAndJupyter/Trends_Energy_Health/Energy_Intensity.csv')

In [6]:
energy_intensity.describe()

       Report generated on: 10-22-2020 18:38:11
count                                       453
unique                                      395
top                                           0
freq                                         46

In [7]:
energy_intensity.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Report generated on: 10-22-2020 18:38:11
API                         NaN                              1980               1981               1982               1983              1984              1985              1986              1987              1988              1989              1990              1991              1992              1993               1994              1995              1996               1997              1998              1999              2000              2001              2002               2003              2004              2005              2006              2007              2008              2009              2010              2011              2012              2013              2014              2015               2016                                                   2017
NaN                         World                            NaN                NaN                NaN                NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN                NaN               NaN               NaN                NaN               NaN               NaN               NaN               NaN               NaN                NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN                NaN                                                     NaN
INTL.47-33-WORL-MBTUPP.A        Population (MMBtu/person)    67.91081890506271  65.88003081978702  64.73518912997594  64.46835462508781 66.93993307316717 67.45604760999827 67.63566807501796 68.58145276655517 69.89938170860415 69.20005470659962 66.95601516773034 65.33934221241643 64.11514337363013 63.490016299335146 63.25455502199958 64.08839653070908 64.87786598244482  64.15303936796795 63.80783007788215 64.1706759732809  65.34136952330712 65.03270475852821 65.60433006093488  67.07200673593267 69.66141584453447 71.10729591100238 72.53236202442254 73.56723931530162 73.58492458478524 71.79059815014222 75.09791461472777 76.28432182446899 77.11224333573227 77.71549474546487 77.52445177483693 77.20441030026474  76.84609938508487                         77.05710379419631
INTL.47-34-WORL-TBTUUSDPP.A     GDP (1000 Btu/2015$ GDP PPP) 10.507671402755376 10.156074254915934 10.107764583729967 9.951432496585243 9.906089325712268 9.792357763550793 9.66087003402304  9.589412332492403 8.114449780553022 7.872801106892004 7.111441749187909 6.943064401225063 6.79928315665653  6.7040120089216195 6.577374253932765 6.546078463832497 6.4638372495102265 6.227786156252506 6.126787896143819 6.035024664372376 5.938112841386824 5.844516416508408 5.8044287791861064 5.793482612885132 5.791659757812074 5.711028971168824 5.597447836689079 5.451354135343248 5.356392820197864 5.314606591691603 5.343033939350548 5.279228841825214 5.227874559839857 5.156755364777075 5.02958339114253  4.9007282741402705 4.7745445447309605                        4.665597721263524
NaN                         Afghanistan                      NaN                NaN                NaN                NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN                NaN               NaN               NaN                NaN               NaN               NaN               NaN               NaN               NaN                NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN               NaN                NaN                                                     NaN

In [ ]:
The dataframe development index describes the development index for XX countries. It was retrieved from:
: https://data.humdata.org/dataset/human-development-index-hdi

In [8]:
dev_index=pd.read_csv('/home/analyst/Documents/DataScienceImmersive/GitAndJupyter/Trends_Energy_Health/hdro-05b5d8f1-9e7f-4379-9958-125c203d12ac/human-development-index-hdi-1.csv')

In [9]:
dev_index.head()

,id,utc_created,utc_updated,country,country_code,indicator_code,indicator,value,year
0,1,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,137506,HDI: Human development index (HDIg) value,0.230,1980
1,2,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,137506,HDI: Human development index (HDIg) value,0.271,1985
2,3,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,137506,HDI: Human development index (HDIg) value,0.296,1990
3,4,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,137506,HDI: Human development index (HDIg) value,0.306,1995
4,5,2016-01-07 10:10:52.689964,2016-01-07 10:10:52.690139,Afghanistan,AFG,137506,HDI: Human development index (HDIg) value,0.341,2000

In [10]:
dev_index.describe()

                id  indicator_code        value         year
count  2122.000000          2122.0  2122.000000  2122.000000
mean   1061.500000        137506.0     0.647283  2003.229029
std     612.712956             0.0     0.168339     9.828916
min       1.000000        137506.0     0.191000  1980.000000
25%     531.250000        137506.0     0.514250  2000.000000
50%    1061.500000        137506.0     0.679000  2007.000000
75%    1591.750000        137506.0     0.776000  2011.000000
max    2122.000000        137506.0     0.944000  2013.000000

In [11]:
dev_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2122 entries, 0 to 2121
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2122 non-null   int64
 1   utc_created     2122 non-null   object
 2   utc_updated     2122 non-null   object
 3   country         2122 non-null   object
 4   country_code    2122 non-null   object
 5   indicator_code  2122 non-null   int64
 6   indicator       2122 non-null   object
 7   value           2122 non-null   float64
 8   year            2122 non-null   int64
dtypes: float64(1), int64(3), object(5)
memory usage: 149.3+ KB

In [13]:
dev_index.groupby(['country']).mean()

,id,indicator_code,value,year
country,,,,
Afghanistan,7.0,137506.0,0.380308,2001.769231
Albania,29.0,137506.0,0.671077,2001.769231
Algeria,563.0,137506.0,0.651154,2001.769231
Andorra,37.5,137506.0,0.830750,2011.500000
Angola,18.0,137506.0,0.481333,2008.111111
...,...,...,...,...
Venezuela (Bolivarian Republic of),2039.0,137506.0,0.712462,2001.769231
Vietnam,2052.0,137506.0,0.574538,2001.769231
Yemen,2078.0,137506.0,0.461000,2005.272727
Zambia,2103.0,137506.0,0.479308,2001.769231
Zimbabwe,2116.0,137506.0,0.456308,2001.769231